@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carlito:wght@400;700&display=swap");
@config "../../tailwind.config.js";
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.jsx";
@source "../**/*.vue";

@layer base {
    html {
        font-size: 16px;
        scroll-behavior: smooth;
    }

    @media screen and (max-width: 768px) {
        html {
            font-size: 15px;
        }
    }

    @media screen and (max-width: 480px) {
        html {
            font-size: 14px;
        }
    }

    img {
        object-fit: cover;
    }

    body {
        @apply font-body bg-gray-10;
    }

    a {
        @apply text-accent-100 hover:text-accent-70;
    }

    .container {
        width: min(100%, 1440px);
        padding-inline: 1rem;
        margin-inline: auto;
    }
}

@layer utilities {
    /* Loading Bar Inertia */
    #nprogress .bar {
        height: 2.75px !important;
    }

    .nuraloka-text {
        font-weight: bold;
    }

    .nuraloka-text .nura {
        color: #FF7709;
    }

    .nuraloka-text .loka {
        color: #058F00;
    }

    .hide-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
    }

    @keyframes progress {
        from {
            width: 100%;
        }

        to {
            width: 0%;
        }
    }

    .animate-progress {
        animation: progress 4s linear forwards;
    }
}
