.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
}

.error-container .error-icon {
    width: 20rem;
}

.error-main-content {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.error-main-content > h1 {
    color: var(--primary-100);
}

@media screen and (max-width: 768px) {
    .error-container .error-icon {
        width: 18rem;
    }

    .error-container {
        flex-direction: column;
        gap: 0;
    }

    .error-container .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .75rem;
    }
}

@media screen and (max-width: 480px) {
    .error-container .error-icon {
        width: 16rem;
    }
}
