@keyframes swipeFromRight {
    from {
        transform: translateX(50%);
        opacity: .25;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-swipe-from-right {
    animation: swipeFromRight .5s ease;
}

@keyframes swipeUp {
    from {
        transform: translateY(4%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-swipe-up {
    animation: swipeUp .75s ease;
}

/* Decoration */
.top-left-decoration {
    position: absolute;
    width: 24rem;
    height: 24rem;
    left: -8rem;
    top: -16rem;
    zoom: .8;
    transform: scaleX(-1);
    z-index: 10;
}

.bottom-right-decoration {
    position: absolute;
    width: 16rem;
    height: 16rem;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%) scaleX(-1);
    zoom: .7;
}

.decoration-wrapper {
    position: relative;
}

.top-left-decoration .circle:first-child {
    width: 24rem;
    height: 24rem;
    clip-path: circle();
}

.top-left-decoration .circle:nth-child(2) {
    position: absolute;
    width: 8rem;
    height: 8rem;
    bottom: -3rem;
    right: 4.5rem;
    clip-path: circle();
}

.top-left-decoration .circle:last-child {
    position: absolute;
    width: 4.5rem;
    height: 4.5rem;
    left: 9rem;
    bottom: 0;
    transform: translateY(60%);
    clip-path: circle();
}

.bottom-right-decoration .circle:first-child {
    width: 16rem;
    height: 16rem;
    clip-path: circle();
}

.bottom-right-decoration .circle:last-child {
    position: absolute;
    width: 6rem;
    height: 6rem;
    right: -40%;
    top: 50%;
    transform: translate(-50%, -50%);
    clip-path: circle();
}
